body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
}

.header {
    height: 70px;
    margin: 0px;
    font-size: 20px;
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
    background: #e19999;
}

.header__title {
    margin: 10px;
    padding: 0;
}

.navegator__uniqueList {
    margin: 0px;
    padding: 0px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background: #f5a8a8;
}

.navegator__uniqueList--boton {
    margin-top: 12px;
}

.navegator__uniqueList a {
    padding: 6px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration-line: none;
}

.navegator__uniqueList a:hover {
    border-radius: 10px;
    padding: 6px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: rgb(221, 161, 161);
    text-decoration-line: none;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.section__name {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.section__name h2 {
    margin-top: 40px;
    margin-left: 10%;
}

.section__div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.section__article {
    height: 420px;
    width: 300px;
    margin: 20px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    font-size: 20px;
    /* background: rgb(182, 182, 194); */
    box-sizing: border-box;
    overflow: hidden;
}

.section__div article:hover {
    -webkit-box-shadow: 0px 4px 8px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 8px 6px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 8px 6px rgba(0,0,0,0.2);
}

.section__article--div {
    /* border: 2px solid red; */
    background: #ffffff;
    margin: 75px 0px 0px 0px;
    padding: 0px;
    height: 120px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-sizing: border-box; */
}

.section__article--header {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.section__article--header h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
}

.section__article--header h3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6;
    margin-bottom: 1;
}

.section__article p {
    margin: 6px 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.section__article--div h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8;
    margin: 6px 0px;
}

.section__article--figure {
    height: 225px;
    width: 300px;
    margin: 0;
    box-sizing: border-box;
}

.section__article--image {
    width: 300px;
}

.footer {
    margin: 0px;
    height: 120px;
    background: #e19999;
    color: white;
    display: flex;
    justify-content: center;
}

.footer p {
    margin-top: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}